.Command {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  background: var(--color-background);
  color: white;
  font-size: 28px;
}

.Command--sidebar {
  display: flex;
  flex-direction: column;
}

.Command > :not(:last-child) {
  border-right: 1px solid var(--color-border);
}

.Command--navbar {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.Command--navbar--item {
  border-bottom: 1px solid var(--color-border);
  padding: 0.8em 1em;
  color: white;
  text-decoration: none;
}

.Command--navbar--item-selected {
  background: #fff2;
}

.Command--view {
  padding: 0.8em 1em;
  flex: 1 0 auto;
  overflow-y: auto;
}

.Command--credits {
  text-align: center;
  padding: 1.2em 2em;
  font-size: 0.4em;
  letter-spacing: 0;
  opacity: 0.5;
}
