.Command {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  background: #333;
  color: white;
}

.Command > :not(:last-child) {
  border-right: 1px solid #555;
}

.Command--title {
  font-family: var(--font-title);
  font-size: 28px;
  padding: 0.8em;
  text-align: center;
  background-color: #080808;
  color: #c91200;
}

.Command--navbar {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 28px;
  border-top: 1px solid #555;
}

.Command--navbar--item {
  border-bottom: 1px solid #555;
  padding: 0.8em 1em;
  color: white;
  text-decoration: none;
}

.Command--navbar--item-selected {
  background: #444;
}

.Command--view {
  padding: 0.8em 1em;
  flex: 1 0 auto;
  overflow-y: auto;
  font-size: 24px;
}
