.SoundBoardItem {
  border: 1px solid var(--color-border);
  border-radius: 3px;
  margin-bottom: 1em;
  display: flex;
  align-items: stretch;
}

.SoundBoardItem > * {
  display: flex;
  align-items: center;
}

.SoundBoardItem--control {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.4em 1em;
}

.SoundBoardItem--control:hover {
  background: var(--color-border);
}

.SoundBoardItem--control:not(:last-child) {
  border-right: 1px solid var(--color-border);
}

.SoundBoardItem--name,
.SoundBoardItem--name > div:first-child {
  flex: 1 0 auto;
}
