*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  user-select: none;
  font-family: var(--font-text);
  background: black;
  color: white;
}

.global--scrollbar-style {
  scrollbar-color: #777 transparent;
  scrollbar-width: thin;
}
