.App--grid {
  height: 100vh;
  max-height: 100vh;
  min-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: stretch;
  gap: 0.5em;
  padding: 0.5em;
}

.App--title {
  white-space: nowrap;
  writing-mode: vertical-rl;
  font-family: var(--font-title);
  font-size: 2em;
}

.App--item {
  flex: 0 0 auto;
  border: 1px solid #555;
  padding: 0.5em;
  overflow-y: auto;
  border-radius: 3px;
}

.App--item--title {
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 0.8em;
  opacity: 0.4;
}
