.SceneSwitcher {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.SceneSwitcher--item {
  padding: 1em 1.5em;
  border: 1px solid var(--color-border);
  cursor: pointer;
  text-align: center;
  word-break: break-all;
  border-radius: 3px;
}

.SceneSwitcher--current {
  border-color: var(--color-accent);
  background: var(--color-accent-transparent);
}
