.SceneSwitcher {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.SceneSwitcher--item {
  padding: 1em 1.5em;
  background: #555;
  cursor: pointer;
  text-align: center;
  word-break: break-all;
  border-radius: 3px;
  font-size: 1.5em;
}

.SceneSwitcher--item:active {
  background: #666;
}

.SceneSwitcher--current {
  box-shadow: 0 0 0 0.2em var(--color--accent) inset;
}
