.SoundControl {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.SoundControlItem {
  display: flex;
  align-items: stretch;
  gap: 1em;
}

.SoundControlItem--volume {
  position: relative;
  flex: 1 0 auto;
  padding: 0.8em 1em;
  border: 1px solid var(--color-border);
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.SoundControlItem--volume * {
  pointer-events: none;
}

.SoundControlItem--volume-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff2;
  z-index: 0;
  border-radius: 3px;
}

.SoundControlItem--name {
  position: relative;
  z-index: 1;
}

.SoundControlItem--name > span:nth-child(1) {
  display: inline-block;
}

.SoundControlItem--name > span:nth-child(2) {
  margin-left: 0.8ch;
  opacity: 0.5;
  font-size: 0.7em;
}

.SoundControlItem--muted {
  padding: 0.8em 1em;
  border-radius: 3px;
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent-transparent);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.SoundControlItem--muted--active {
  border-color: var(--color-border);
  background-color: transparent;
}
