.SoundControl {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.SoundControlItem {
  display: flex;
  align-items: stretch;
  gap: 0.2em;
}

.SoundControlItem--volume {
  position: relative;
  flex: 1 0 auto;
  padding: 0.4em 0.6em;
}

.SoundControlItem--volume * {
  pointer-events: none;
}

.SoundControlItem--volume-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--color--accent);
  opacity: 0.3;
  z-index: 0;
  border-radius: 3px;
}

.SoundControlItem--name {
  position: relative;
  z-index: 1;
}

.SoundControlItem--name > span:nth-child(1) {
  display: inline-block;
}

.SoundControlItem--name > span:nth-child(2) {
  opacity: 0.5;
}

.SoundControlItem--muted {
  padding: 0.4em;
}

.SoundControlItem--muted:active {
  background-color: #444;
}
